<%- include('layout/header') %>
<a href="/auth/google">Login with Google Account</a>
<% if(user){ %>
  <span>User id:<%= user.id %></span>
  <span>User name:<%= user.name %></span>
  <span>Google id: <%= user.googleId %></span>
<% }else{ %>
  <span>no users in session.</span>
<% } %>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul class="modules">
        <li>Time</li>
        <li>Weather</li>
        <li>Traffic</li>
        <li>News</li>
        <button> Add to board</button>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="boards">

        <button id="add_board">Add a board</button>
        <button id="get_boards">Get all board</button>
        <h1>Bulletin board</h1>

        <!-- list all boards -->
        <% for(var i=0; i< playlists.length; i++) {%>
          <div class="board" data-id="<%= playlists[i].id%>">
            <div class="board_title">
              <h3><%= playlists[i].name %></h3>
              <button class="play">Play</button>
              <button class="delete_board">Delete</button>
            </div>
            <div class="board_body row">
            </div>
          </div>
        <% } %>
      
    </div>
  </div>
</div>



<%- include('layout/footer') %>
